body{
    background: #B2D5E5 url('img/background640x480.png') repeat top left;
    font-family:arial;
    font-size:100%;
}

.error{
	color:#ff0000;	
}


/*****************
 *   DATE TIME   *
 ****************/
#date_time{
    position:absolute;
    top:0.4em;
    right:0.4em;
    width:88px;
    height:38px;
    line-height:38px;
    text-align:center;
    color:#ffffff;
    font-size:160%;
    background: transparent url('img/datetime.png') no-repeat top left;
    font-family:arial;
}

/*********************
 *   LOGIN CONTENT   *
 ********************/
#login_content{
	text-align:center;
}

#login{
	width:243px;
	height:141px;
	margin:100px auto 0 auto;
	padding:15px;
	background: transparent url('img/back_login.png') no-repeat top left;
	color:#ffffff;
	text-align:left;
	
}

#login input{
	display:block;
	margin-top:10px;
	margin-bottom:30px;	
}


#login #login_btn {
	float:right;
	background-color:transparent;
	border:0px;
	color:#fff;
	font-size:100%;	
	text-indent:15px;
	background: transparent url('img/back_button_login.png') no-repeat center left;

}

#login_content img{
	margin-top:60px;
}

#login_content #error_login{
	color:#ff0000;	
	display:block;
}

/********************
 *   MAIN CONTENT   *
 *******************/
#main_content{
	width:555px;
	height:331px;
	margin:0px auto 0 auto;
	padding:40px 20px 10px 20px;
	background-color: transparent;
	background-image : url('img/back_content.png');
	background-repeat: no-repeat;
	background-position:0px 55px;
	color:#000000;
	
}


.content_title{
	color:#20709e;
	font-weight:normal;
	font-size:170%;	
	padding-left:5px;

}


/** Internal news **/
.in_logo{
	background: transparent url('img/in_logo.png') no-repeat top left;
}

.in_target{
	color:#83d827;
	font-size:160%;	
	padding-left:5px;
}

p.in_content{
	padding:0px;
	font-size:130%;	
	margin:0px 0px 20px 0px;
}

.in_author{
	color:#20709e;
	font-size:140%;	
}

.in_date{
	color:#20709e;
	font-size:140%;	
}

/** Stud summon**/
.sum_target{
	color:#83d827;
	font-size:160%;	
	padding-left:5px;
}

p.sum_content{
	padding:0px;
	font-size:140%;	
	margin:0px 0px 20px 0px;
}


.sum_date{
	font-size:140%;	
}

/** Abscence prof **/
.abs_teacher{
	font-size:170%;
	display:block;
	height:60px;	
}
.abs_dates{
	font-size:170%;	
	display:block;
	height:60px;
}
.abs_reason{
	font-size:170%;
	display:block;	
}

/** weather**/
.weat_today{
	font-size:200%;
	display:block;
	height:120px;	
}
.weat_temp{
	font-size:200%;	
	display:block;
	height:75px;
}

.t_min{ color:#20709e; }

.t_max{ color:#ff8620; }

.weat_infos{
	font-size:180%;
	display:block;	
}

.w_wind {
	margin-right:10px;
}

.w_press{
	margin-right:10px;
}

.w_rain{
	
}

table.weather{ font-size:150%; }
table.weather td { text-align:center;}
.weat_day{
	color:#20709e;
	font-size:150%;
	display:block;
	font-style:italic;	

}
.weat2_temp, .weat4_temp{
	font-size:130%;
}

.weat_day img, .weat_today img, .weat4_temp img{
	padding:5px;
	background-color:#efefef;
	border:1px solid #DEDEDE;
}

/** tv show **/
.tv_channel{
	color:#ff0000;
	font-size:200%;
	display:block;	
}

.tv_hour{
	font-size:170%;
	color:#20709e;
	margin-right:10px;
}

.tv_title{
	font-size:170%;
}

.tv_sum{	
	margin:0;
}
.tv_sum img{
	padding:5px;
	background-color:#efefef;
	border:1px solid #DEDEDE;
	margin-right:5px;	
}
	
/** images **/
#current_img{
	width:65%;
	height:65%;
}
	
/*********************
 *   BREAKING_NEWS   *
 ********************/
.breaking_news{
    position:absolute;
    bottom:10px;
    left:10px;
    padding-left:0em;
    width:620px;
    height:50px;
    line-height:50px;
    color:#000000;
    font-size:200%;
    background: transparent url('img/back_breaking_news.png') no-repeat top left;
    font-family:arial;
}

.breaking_news_empty{
	opacity:0;	
	-moz-opacity:0;
}

.breaking_news_marquee{
	/*width:560px;
	height:50px;*/
	border:0px solid #ff0000;
	position:relative;
}

.break_news_date{
	font-weight:bold;
	margin-right:0.2em;
}

.break_news_content{
	margin-right:0.2em;
}

#logo{
	position:absolute;
    bottom:1px;
    right:1px;
    width:94px;
    height:48px;
}
